__pycache__/
*.pyc
.venv/
.env
dist/
build/
*.egg-info/
.pytest_cache/
coverage.xml
htmlcov/
node_modules/
assets/data/processed/
assets/data/snapshots/
requirements-lock.txt
/.idea/
/.vscode/
MR_JEFF_WONG_YE_TP068332_APU3F2408_SE_FYP_DOC.pdf
